

<h2>@ViewBag.Title</h2>

    
<script src="@Url.Content("~/Scripts/RealGameUI.js")" type="text/javascript"></script>
<table>
    <tr>
        <td width="180" >
            <h3 >Список ходов:</h3>
            <div id="moveslist" style="text-align: left; height: 510px; overflow-y: scroll; display: block;"></div>
    
        </td>
         

        <td>
            <table width="568" id="board">

                @for (int i = 0; i < 9; i++)
                {
                    <tr>
                        @for (int j = 0; j < 9; j++)
                        {
                            if (j == 0 && i == 0)
                            {
                                <td> </td>
                            }
                            else if (j == 0)
                            {
                                <td>@(9-i) </td>
                            }
                            else if (i == 0)
                            {
                                <td>@((char)('A' + j - 1)) </td>
                            }
                            else if ((i + j) % 2 == 0)
                            {
                                <td height="55" bgcolor="FFFFFF" id = @(((char)('a' + j - 1)).ToString() + (9 - i).ToString())> </td>
                            }
                            else
                            {
                                <td height="55" bgcolor="000000" id = @(((char)('a' + j - 1)).ToString() + (9 - i).ToString())> </td>
                            }
                        }
                       
                    </tr>
                 
                   
                  
                }
                       
            </table>
        </td>
        <td width="180" border="0">
            <h1 align="center" >Статус игры</h1>
            <h4 size="10px"></h4>
            <h3>Чей ход:</h3>
            <div id="turn"></div>
            <h3>Игрок за белых:</h3>
            <div id="playerwhite"></div>
            <h3>Игрок за черных:</h3>
            <div id="playerblack"></div>
            
           
            <h4 align="center">Съеденные белые:</h4>
            <div id="whitemorgue" align="center"></div>
        
            <h4 align="center">Съеденные черные:</h4>
            <div id="blackmorgue" align="center"></div>

        </td>
    </tr>
</table>

<ul id="standoff">
    <h4><button id="surrenderButton">Сдаться</button><button id="peaceButton">Предложить ничью</button></h4>
</ul>

<div id="dialogWhitePromotion" title="Превращение пешки" style="display: none;">
    <button id="whiteQueenButton">Queen</button>
    <button id="whiteRookButton">Rook</button>
    <button id="whiteBishopButton">Bishop</button>
    <button id="whiteKnightButton">Knight</button>
</div>

<div id="dialogBlackPromotion" title="Превращение пешки" style="display: none;">
    <button id="blackQueenButton">Queen</button>
    <button id="blackRookButton">Rook</button>
    <button id="blackBishopButton">Bishop</button>
    <button id="blackKnightButton">Knight</button>
</div>

<div id="dialogWhiteWon" title="Игра окончена" style="display: none;">
    <h4 align="center">Белый победил</h4>
</div>

<div id="dialogBlackWon" title="Игра окончена" style="display: none;">
    <h4 align="center">Чёрный победил</h4>
</div>

<div id="dialogPeaceConfirmation" title="Оппонент предлагает перемирие" style="display: none;">
    <button id="buttonPeaceConfirm">Принять</button>
    <button id="buttonPeaceDecline">Отклонить</button>
</div>