<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div id="logindisplay">
        @Html.Partial("_LogOnPartial")
    </div>


        <table id="menucontainer">
            <tr>
                <td class="spacer">&nbsp;</td>
                <td class="header">@Html.ActionLink("Шахматы", "Index", "Home")</td>
                <td class="spacer">&nbsp;</td>
                <td class="menu">
                    <ul id="menu">
                        <li>@Html.ActionLink("Игра с другом", "Index", "User")</li>
                        <li>@Html.ActionLink("Случайная игра", "Index", "User")</li>
                    </ul>
                </td>
            </tr>
        </table>

    <table id="mainblock">
        <tr>
            <td style="width:15%;vertical-align:top;padding-left:10px;padding-top: 50px;">
                <h2 ><li>@Html.ActionLink("Пользователи", "Index", "User")</li></h2>
                <h2><li>@Html.ActionLink("Статистика","Index","Statistic")</li></h2>
                <h2><li>@Html.ActionLink("О программе", "About", "Home")</li></h2>
                <h2><a href="/Content/client/ChessClient.zip">Скачать клиент</a></h2>
                <br />
                <h4>Поиск по именам</h4>
                <input name="nomer2" value="" size="20" type="text" id="search"/>
                

            </td>
            <td>
                
    <div id="main">
        @RenderBody()
    </div>
            </td>
        </tr>
    </table>


    <div id="footer">
        Copyright © Command2 2014 &nbsp;<br />
        Все права защищены&nbsp; 
    </div>

</body>
</html>
